<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>폼 입력</title>
    <meta charset="UTF-8">
</head>
<body>
    <form action="/form" method="post">
        이름: <input type="text" name="name"><br>
        나이: <input type="number" name="age"><br>
        <button type="submit">제출</button>
    </form>

    <div th:if="${user != null}">
        <p>입력한 이름: <span th:text="${user.name}"></span></p>
        <p>입력한 나이: <span th:text="${user.age}"></span></p>
    </div>
</body>
</html>
